<launch>

   <node name="Reachy_speech_node" pkg="gb_dialog" type="Reachy_speech_node" output="screen" launch-prefix="gnome-terminal --command" />

  <node name="camera_subscriber" pkg="usb_cam" type="camera_subscriber" output="screen" />
  
  <node name="motor_controller" pkg="dynamixel_sdk_examples" type="motor_controller" output="screen" launch-prefix="gnome-terminal --command" />
  <node name="read_write_node" pkg="dynamixel_sdk_examples" type="read_write_node" output="screen" />
  
  
  
  
  
</launch>



